body {
    text-align: center;
    font-family: 'Bungee', cursive;
    background-color:#fee6e6;
}

h1 {
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

/*Flex box layout*/
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:baseline;
    height:768px;
    border: 3px double #ff9898;
}
.options {
    border: 3px double #ff9898;
    flex-grow:1;
    flex-basis:33%;
    text-align:center;
}
.content {
    flex-grow:2;
    flex-basis:66%;
}
/*Flex box layout*/
#colorPicker {
  margin:auto;
}
table,tr, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;  
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

input[type=number] {
    width: 6em;
}
.myP {
  /*Button style*/
  width: auto;
  height: auto;
  margin: 0 auto;
  border-radius: 2px;
  border-style: outset;
  border-color:LightGrey;
  background-color: LightGrey;
  cursor:pointer;
  box-shadow:1px;
  transition: background-color .5s;
  content: attr(data-text)
}
.myP:hover {
  background-color: #bfbbbb;
  border-color:#bfbbbb;
}
.myP:active {
  border-style:inset;
}
[data-text]::after {
  content: attr(data-text);
}
.cursor {
  cursor: not-allowed;
}
